header.parallax {
    height: 500px;
    background-image: url('../../../images/view-gym-room-training-sports_23-2151699495.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* This creates the parallax effect */
}

section.content {
    background: #f4f4f4;
}

.moto-text-home{
    font-family: "Saira Stencil One", serif;
}